/lec3-sample-jdbc/target/
/lec4-sample-jpa/target/
/lec5-sample-jpa-repo/target/
/lec6-simple-secure-app/target/
/aopsample/target/
/lec9-very-basic-samples/target/
/lec10/target/
/lec10-sample-jta/target/
